<ngx-spinner bdColor = "rgb(74,44,132)" size = "large" color = "#feca19" type = "ball-atom" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="owner" *ngIf="owner">
  <button [disabled]="paused" class="buy-ticket" (click)="lookingForAWinner()">The winner is</button>
  <button [disabled]="!paused" class="buy-ticket"(click)="reset()">Reset</button>
</div>

<div *ngIf="!owner">
  <section class="main color-total-pool">
    <div class="wrapper">
      <div class="col">
        <div class="post">
          <h2>The Lottery</h2>
          <div>
            <span>{{totalPool}} ETHER</span>
          </div>
          <h2>in prizes!</h2>
          <div>
            <button [disabled]="paused" class="buy-ticket" (click)="buyTickets()">Buy Tickets</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="main color-tickets">
    <div class="wrapper">
      <div class="col">
        <div class="post">
          <h2 class="my-ticket">My Tickets: {{myTickets}}</h2>
          <h2 class="get-ticket">Tickets!</h2>
          <div class="card-next-draw pane">
            <table class="blueTable">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Amount tickets</th>
                </tr>
              </thead>
              <tbody>
                <tr my-active *ngFor="let user of users; index as rowIndex">
                  <td>{{user.user}}</td>
                  <td>{{user.tickets}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="main color-winner">
    <div class="wrapper">
      <div class="col">
        <div class="post">
          <div>
            <button [disabled]="paused" class="reward" (click)="reclaimRewards()">Reward</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main color-historical">
    <div class="wrapper">
      <div class="col">
        <div class="post">
          <h2 class="get-ticket">History!</h2>
          <div class="card-next-draw pane">
            <table class="blueTable">
              <thead>
                <tr>
                  <th>Lottery ID</th>
                  <th>User</th>
                  <th>Reward</th>
                </tr>
              </thead>
              <tbody>
                <tr my-active *ngFor="let record of records; index as rowIndex">
                  <td>{{record.id}}</td>
                  <td>{{record.user}}</td>
                  <td>{{record.amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>